<nav class="navbar navbar-expand-lg bg-body-tertiary dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'list' %}">لیست</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'password_change' %}">تغییر رمز عبور</a>
          </li>
        </ul>
        
      </div>
      <span class="navbar-text">
        {% if request.user.is_authenticated %}
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type='submit'>خروج</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}">ورود</a>
        {% endif %}
      </span>
    </div>
  </nav>